.env
.env.*
!.env.example
!.env.prod.example

/vendor/

/var/cache/
/var/log/
/var/tmp/
/var/sessions/
/var/reports/
/var/*.log

/.phpunit.cache/
/.php-cs-fixer.cache
/phpstan.cache

/.idea/
/.vscode/
.DS_Store
Thumbs.db
*.swp
*~
